<navbar></navbar>
<div class="row top-buffer">


  <!-- Main Content -->
  <div class="container">
    <div [hidden] = submitted >
      <h1>Enter The Details</h1>
      <form (ngSubmit)="onSubmit()" #UserForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name" [ngModelOptions]="{standalone: true}" >

        </div>
        <div class="form-group">
          <label for="sat-verbal">SAT - Verbal</label>
          <input type="number" class="form-control" id="sat-verbal" [(ngModel)]="model.satVerbal" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="sat-writing">SAT - Writing</label>
          <input type="number" class="form-control" id="sat-writing" [(ngModel)]="model.satWriting" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="sat-math">SAT - Math</label>
          <input type="number" class="form-control" id="sat-math" [(ngModel)]="model.satMath" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="region">Region</label>
          <select class="form-control"  id="region"
                  [(ngModel)]="model.region" name="region">
            <option *ngFor="let reg of regions" [value]="reg">{{reg}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control"  id="gender"
                  [(ngModel)]="model.gender" name="gender">
            <option *ngFor="let gen of genders" [value]="gen">{{gen}}</option>
          </select>
        </div>


        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <div class="panel-body" [hidden] = !submitted>
      <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Average SAT</th>
            <th>Number of Undergrads</th>
        </tr>
        <tr *ngFor="let college of colleges; let i = index">
            <td>{{i + 1}}</td>
            <td>{{college.name}}</td>
            <td>{{college.satAvg}}</td>
            <td>{{college.numOfUdgr}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
